
body {
      font-family: 'Source Sans Pro', sans-serif; /*FONTE PADRÃO UTILIZADA EM TODOS OS ELEMENTOS DA PÁGINA*/
      margin: 0px;
      padding: 0px;
      
}

.container-topo { 
                 width: 100%;
                 height: 60px;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 position: fixed;
                 background-color: #fff;
                 margin: 0px;
}

.conteudo-topo {  
                width: 1024px;
                height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
 }

 .menu-topo {
             display: flex;
}

.bot-menu {padding-top: 15px;
padding-bottom: 12px; 
}

.bot-menu:hover { 
                 border-bottom: 3px solid blue;
                 font-weight: bold;

}

.titulo-topo {
              text-decoration: none;
              position: relative;
              color: #3d3d3d;
              font-size: 24px;
              display: flex;
}

.titulo-topo:hover {font-size: 28px;

}
span { 
      color: #6592c9;
      padding-left: 5px;
}

.link-topo {
            text-decoration: none;
            color: #3d3d3d;
            text-transform: uppercase;
            padding: 0px 15px 10px;
            margin: 0px;

}

.titulo-imagem {
                background-image: url(ASSETS/img-fundo.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 625px;
                display: flex;
                justify-content: center;
                margin: 0;
                
} 

.caixa-titulo { background-color:#0a9077b3;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                color: #fff;
                height: 192px;
                border: 1px solid #fff;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
                border-radius: 6px;
            }
.caixa-titulo h1 {
                  font-size: 55px;
                  text-align: center;}

.caixa-titulo p {
                 font-size: 20px;
                 padding-bottom: 15px;
                            
}

.Container-bemvindo {
                     display:flex;
                     align-items: center;
                     justify-content: center;
                     flex-direction: column;
                     padding: 40px;
}

.Container-bemvindo h3{ font-size: 32px;
                        font-weight: normal;
                        margin: 10px;
}
.Container-bemvindo p{ margin: 10px;
}

.container-quartos { 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    box-sizing: content-box;
                    text-align: center;  
                    align-content: center;            

}

.container2-quartos:hover { 
                           background-color: #e5e2e2;
}

.container-quartos img {
                        width: 98%;
                        display: flex;
                        justify-content: space-between;
                        

}

.container2-quartos a { 
                      text-decoration: none;
                      color:#3d3d3d;
                      text-transform: uppercase;
                      font-size: 20px;
                      font-weight: 600;
                      text-align: justify;
                      border-bottom: 2px solid #00836a;
                      width: 98%;
                      display: flex;
                      justify-content: center;
                      padding-bottom: 20px;
                      margin-top: 20px;                  
}

.container-rota {
                 display:flex;
                 align-items: center;
                 justify-content: center;
                 flex-direction: column;
                 padding: 40px;
}

.container-rota h3{ 
                   font-size: 32px;
                   font-weight: normal;
                   margin: 10px;
}
.container-rota p{ 
                  margin: 10px;
}

.container-sobre {
                  display:flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  padding: 40px;
}

.container-sobre h3{ 
                    font-size: 32px;
                    font-weight: normal;
                    margin: 10px;
}

.container-sobre p{ 
                   margin: 10px;
}


.section-sobre { max-width: 1024px;
                 margin: 0 auto;
                 display: flex;
                 flex-wrap: wrap;
                 margin-bottom: 50px;
}


.descricao {
            display: flex;
            width: 45%;
            margin: 0 10px;
            align-items:center;
            justify-content:space-between;

}

.img-descricao {
                width: 100px;
                height: 113px;
                object-fit: cover;
                margin-left: 10px;
                display: flex;
}

/*CONTAINER RODAPE*/

.container-rodape1 {
                    background-color: #49997d;

                  
}

.limite-rodape {
                max-width: 1024px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid rgba(0, 0, 0, 0.3);

}

.titulo-rodape { 
                font-size: 20px;
                font-weight: bold;
                color: white;
                display: flex;
                flex-wrap: wrap;
                width: 15%;
}


.contato-rodape img {
                     width: 30px;
                     height: 30px;
                     object-fit: cover;
                     display: flex;
                     margin-right: 10px;
}

.contato-rodape {
                 display: flex;
                 width: 23%;
                 justify-content: center;
                 align-items: center;
                 margin: 0 10px;
                 color: #fff;

}

.contato-rodape a {
                   color: #fff;
                   text-decoration: none;
}

.limite-copyright {
                   max-width: 1024px;
                   display: flex;
                   margin: 0 auto;
                   justify-content: center;
}
.container-copyright {
                      display: flex;
                      color: #fff;
                      text-align: center;

}

/*FINAL RODAPE*/



            




